streamlit==1.30.0
pandas==2.1.4
requests==2.31.0
beautifulsoup4==4.12.2
matplotlib==3.8.2
seaborn==0.12.2
sentence-transformers==2.2.2
spacy
en-core-web-sm
numpy
sentence-transformers
torch
requests
fpdf
PyPDF2
nltk
flask
streamlit
pandas
scikit-learn
matplotlib
pdfplumber
python-docx
seaborn
transformers
torch
torchvision
torchaudio
language_tool_python
numpy
wordcloud
textstat
openai
beautifulsoup4
