streamlit
flask
requests
beautifulsoup4

# APIs & Web Scraping
google-api-python-client  

# File Handling & Parsing
PyPDF2
pdfplumber
python-docx
docx2txt
pdfminer.six

# Machine Learning & NLP
torch
transformers
sentence-transformers
nltk

# Data Processing & Visualization
pandas
numpy
matplotlib
seaborn
